body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Urbanist", sans-serif;
}
#globe-container {
  width: 100vw;
  height: 100vh;
}

.globe-label {
  font-family: "Urbanist", sans-serif;
  pointer-events: none;
  font-size: 0.8rem;
}
.tooltip-title {
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  pointer-events: none;
}